.pop_kviz_wrapper * {
	font-family: Arial, Helvetica, sans-serif;
}

.pop_kviz_wrapper .quiz-container {
	 max-width: 800px;
    font-size: 18px;
		margin: auto;
	background: white;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	position: relative;
	overflow: hidden;
}

.pop_kviz_wrapper .progress-bar {
	width: 100%;
	height: 8px;
	background: #eee;
	border-radius: 4px;
	margin-bottom: 20px;
	overflow: hidden;
}

.pop_kviz_wrapper .progress-fill {
	height: 100%;
	width: 0;
	background: #ff5500;
	transition: width 0.3s ease;
}

.pop_kviz_wrapper .quiz-step {
	display: none;
	opacity: 0;
	transition: opacity 0.5s ease;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.pop_kviz_wrapper .quiz-step input {
	border-radius: 50px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	border: 0;
	font-size: 16px;
	line-height: 1;
	padding: 8px 15px;
	margin: 10px 0;
	background-color: #fff;
}
.pop_kviz_wrapper .quiz-step input[type="radio"] {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	margin: 0 4px 0 0;
}
.quiz-step_radio_cont {
	display: flex;
	flex-direction: column;
	
	margin: 7px 0;
}
.pop_kviz_wrapper .quiz-step label {
		display: flex;
	align-items: center;
		margin:  0 0 6px;
		line-height: 1;
}


.pop_kviz_wrapper .quiz-step.active {
	display: block;
	opacity: 1;
	position: relative;
}

.pop_kviz_wrapper .btn-row {
	margin-top: 20px;
	display: flex;
	gap: 10px;
}

.pop_kviz_wrapper button {
	padding: 8px 20px;
	background: #ff5500;
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 18px;
}

.pop_kviz_wrapper button.prev-btn {
	background-color: #7a7781;
}

.pop_kviz_wrapper button.prev-btn:hover {
	background-color: #444249;
}

.pop_kviz_wrapper button.call_btn_send,
.pop_kviz_wrapper button.call_btn {
	border-radius: 60px;
	color: #fff;
}

.pop_kviz_wrapper button.call_btn a {

	color: #fff;
}

.pop_kviz_wrapper button:hover {
	background: #642a0d;
}



.pop_kviz_wrapper .quiz-step__form_ctn {
	margin-top: 10px;
	position: relative;
}

.pop_kviz_wrapper .quiz-step__form_ctn__btn {
	display: block;
	margin: 25px auto 35px;
}

.pop_kviz_wrapper .quiz-step__form_ctn__success {
	bottom: 0;
	text-transform: uppercase;
	font-weight: 700;
	left: 0;
	right: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 12;
	background-color: #fff;
	width: fit-content;
	border-radius: 15px;
	margin: auto;
	padding: 25px 35px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
	font-size: 18px;
	color: #000;
	text-align: center;

	transition: all 0.4s ease;
}


.dark_bg {
	display: none;
	width: 100vw;
	height: 100vh;
	top: 0;
  left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	z-index: 9999999999999999999;
	opacity: 0;
	transition: opacity 0.4s ease;
}

.dark_bg.show {
	display: block;
	opacity: 1;
}

.popup {
	position: fixed;
	top: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 800px;
	width: calc(100% - 20px);
	height: auto;
	/* background: rgba(0,0,0,0.5); */
	display: none;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.4s ease;
	z-index: 999999999999999999;
}

.popup.show {
	display: flex;
	opacity: 1;
}

.popup-content {
	background-color: rgba(255, 255, 255, 0.05);
	padding: 40px 30px;
	border-radius: 8px;
	position: relative;
	min-width: 300px;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
	cursor: pointer;
	background-image: url('./../images/cross.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height: 20px;
}
			.pop_kviz_wrapper .quiz-step h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.pop_kviz_wrapper .quiz-step p {
  font-size: 18px;
  margin-bottom: 15px;
}
.pop_kviz_wrapper .quiz-step label {
  font-size: 17px;
  padding: 8px 0;
}


@media (max-width:600px) {
.popup {
	top: 5px;
}
	.close-btn {
		position: absolute;
		top: 7px;
		right: 7px;

	}

	.popup-content {
		padding: 7px 35px 7px 7px;
	}
}

@media (max-width:400px) {
.pop_kviz_wrapper .quiz-container {
  padding:20px 10px;
}
			.pop_kviz_wrapper .quiz-step h2 {
  font-size: 20px;
  margin-bottom: 7px;
}

.pop_kviz_wrapper .quiz-step p {
  font-size: 15px;
  margin-bottom: 7px;
}
.pop_kviz_wrapper .quiz-step label {
  font-size: 16px;

}

	.popup-content {
	  min-width:260px;
		padding: 7px 35px 7px 7px;
	}
}

input {
	outline: none !important;
}

.form__tel {
			width: 100%;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.form__tel_message,
		.form__name_message {
			position: absolute;
			z-index: 2;
			bottom: 20px;
			text-align: center;
			left: calc(50% - 125px);
			width: 230px;
			padding: 4px 8px;
			background-color: #fff;
			font-size: 16px;
			color: red !important;
			border: 1px solid #dddddd;
			border-radius: 4px;
			transition: all 0.8s ease-out;
		}
		.invisible {
			display: none !important;
		}

		.opacityNone {
			opacity: 0 !important;
		}


		